* {
  max-width: 1200px;
  margin: 0 auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 35%;
  color: white;
}

.card-category h1 {
  padding: 30px;
  font-size: 72px;
  font-weight: 500px;
  text-align: center;
}

.card-category h2 {
  color: white;
  font-size: 56px;
  text-align: center;
}

.card-category p {
  color: white;
  font-size: 18px;
  text-align: center;
}


.card-product {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30%;
}

.card-product img {
  height: 100%;
  width: 500px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.card-product p, ul>li {
  font-size: 15px;
  line-height: 2.5;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  display: flex;
  padding: 80px;
}

.card-review {
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 40%;
}

.card-review h3 {
  text-align: center;
  padding: 50px;
  font-size: 25px;
}

.card-review p {
  padding: 15px;
  text-align: justify;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 1px;
}

#signature {
  padding-left: 500px;
}
