// Specific CSS for your home-page
.main-text {
  position: absolute;
  top: 550px;
  left: 50px;
  text-align: left;
  z-index: 2;
}

.banner img {
  position: relative;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  z-index: 1;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: orangered;
}

.footer .fa-heart {
  color: red;
}

.footer-copyright {
  color: white;
}

.footer-copyright a {
  color: white;
  opacity: 0.50;
}

.footer-copyright a:hover {
  opacity: 1;
  color: orangered;
  text-decoration: none;

}
