<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path 'Banner4.jpg' %>')">
  <div class="black-text">
    <h3 class="black-text">Booking confirmed</h3>
    <h3>You're all set, time to relax!</h3>
  </div>
</div>
