<div class="team-boxed">
<div class="container">
  <div class="intro">
    <h2 class="text-center">Petsitters</h2>
    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
      pellentesque ut laoreet vitae.</p>
  </div>
  <div class="row people">
    <div class="col-md-6 col-lg-4 item">
      <div class="box"><img class="rounded-circle" src="https://source.unsplash.com/random/200x200">
        <ul>
          <% @users.each do |user| %>
            <li><h2><%= user.name %></h2>
                <p><%= user.location %></p></li>
          <% end %>
        </ul>
          <%#<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> %>
        </div>
      </div>
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
      </div>
    </div>
  </div>
</div>
