<div class="banner">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="main-text">
        <h1>Find a loving local pet sitter or dog sitter</h1>
        <p>Who treats your pet like family</p>
      </div>
      <div class="carousel-item active carousel-div">
        <%= image_tag 'Banner1.jpeg' %>
      </div>
      <div class="carousel-item carousel-div">
        <%= image_tag 'Banner2.jpeg' %>
      </div>
      <div class="carousel-item carousel-div">
        <%= image_tag 'Banner3.jpeg' %>
      </div>
    </div>
  </div>
</div>
