<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type= "text/css" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&display=swap" rel="stylesheet">
<title></title></head>
<body>
  <div class="header">
    <div class="inner-header">
      <div class="logo-container">
        <h1>MY <span>PET SITTER</span> <i class="fas fa-paw"> </i>

</h1>
        </div>
        <ul class="navigation">
          <a><li>Home</li></a>
          <a><li>About</li></a>
          <a><li>Cities</li></a>
          <a><li>Contact</li></a>

        </ul>
        </div></div>
</body></html>
