<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<body>
  <header class="navbar navbar-expand-md navbar-dark bd-navbar"></header>



  <footer>
    <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Copyright © 2013-2021 Pet Sitter Inc. All Rights Reserved.
      <a href="#">Terms and Conditions</a> and <a href="#">Privacy &amp; Cookie Policy</a>.
      <br>
      Find a loving local pet sitter with <i class="fas fa-heart"></i> at Pet Sitter.
    </div>
  </footer>

</body>
