<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<body>
  <header class="navbar navbar-expand-md navbar-dark bd-navbar"></header>



  <footer>
    <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Find a loving local with <i class="fas fa-heart"></i> at Pet Sitter.
    </div>
    <p>Copyright © 2013-2021 Pawshake Inc. All Rights Reserved.
    <a href="/pawshake-terms-conditions">Terms and Conditions</a> and
    <a href="/privacy-cookie-policy">Privacy &amp; Cookie Policy</a>.</p>
  </footer>

</body>
