<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<body>

  <div class="banner">
    <div class="container">
      <h1>Find a loving local pet sitter or dog sitter</h1>
      <p>Who treats your pet like family</p>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="app/assets/images/Banner - Photo 1.jpeg" alt="#">
        </div>
        <div class="carousel-item">
          <img src="app/assets/images/Banner - Photo 2.jpeg" alt="#">
        </div>
        <div class="carousel-item">
          <img src="app/assets/images/Banner - Photo 3.jpeg" alt="#">
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Copyright © 2013-2021 Pet Sitter Inc. All Rights Reserved.
      <a href="#">Terms and Conditions</a> and <a href="#">Privacy &amp; Cookie Policy</a>.
      <br>
      Find a loving local pet sitter with <i class="fas fa-heart"></i> at Pet Sitter.
    </div>
  </footer>

</body>
